{% extends "template.html" %}
{% load staticfiles %}

{% block menu %}
  <ul class="nav navbar-nav navbar-right">
      <li><a href=" {% url 'home' %} ">Home </a></li>
      <li><a href=" {% url 'services' %} " class="navbar-active">Serveis</a></li>
      <li><a href=" {% url 'about' %} ">Qui som</a></li>
      <li><a href=" {% url 'contact' %} ">Contacte</a></li>
  </ul>
{% endblock %}

{% block content %}
<div class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Serveis</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Serveis</li>
                </ol>
            </div>
        </div>
    </div>
</div><!--breadcrumbs-->
<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 margin20">
            <h3 class="heading">Serveis que oferim</h3>
            <p>
                Bitnue ofereix tota una gama de productes perque la seva empresa destaqui a internet
            </p>
            <p><a href=" {% url 'contact' %}#contactTag " class="btn btn-theme-bg">Demana presupost</a></p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'img/showcase-1.jpg' %}" class="img-responsive" alt="">
        </div>
    </div><!--about intro-->
</div>
<div class="divide60"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">Et podem ajudar?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 margin20">
            <div class="services-box wow animated fadeInUp" data-wow-delay="0.1s">
                <div class="services-box-icon">
                    <i class="fa fa-pencil"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>Webs a mida</h4>
                    <p>
                        Mitjançant el desenvolupament web a mida, podem donar solució a totes les necessitats, fent que la plataforma web s'adapti totalment al client.
                    </p>
                </div>
            </div><!--services box-->
        </div><!--services col-->
        <div class="col-md-4 margin20">
            <div class="services-box wow animated fadeInUp" data-wow-delay="0.2s">
                <div class="services-box-icon">
                    <i class="fa fa-globe"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>CMS</h4>
                    <p>
                        Si disposa d'un pressupost limitat, i només necessita tenir presència a Internet, una bona solució és partir des de un CMS. Estalviant temps de desenvolupament i reduint el pressupost. 
                    </p>
                </div>
            </div><!--services box-->
        </div><!--services col-->
        <div class="col-md-4 margin20">
            <div class="services-box wow animated fadeInUp" data-wow-delay="0.3s">
                <div class="services-box-icon">
                    <i class="fa fa-users"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>Posicionament</h4>
                    <p>
                        El posicionament en cercadors o posicionament web (SEO per les sigles en anglès, de Search Engine Optimization) és el procés de millorar la visibilitat d'una pàgina web en els diferents cercadors, com Google, Yahoo! o Bing de manera orgànica, és a dir sense pagar-li diners al cercador per accedir a una posició destacada en els resultats.
                    </p>
                </div>
            </div><!--services box-->
        </div><!--services col-->
    </div><!--services row-->
    <div class="divide30"></div>
    <div class="row">
        <div class="col-md-4 margin20">
            <div class="services-box wow animated fadeInUp" data-wow-delay="0.4s">
                <div class="services-box-icon">
                    <i class="fa fa-crop"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>Imatge Corporativa</h4>
                    <p>
                        Cream imatge corporativa adaptant-nos a la personalitat de cada empresa i dissenyam tots els materials necessaris.
                    </p>
                </div>
            </div><!--services box-->
        </div><!--services col-->
        <div class="col-md-4 margin20">
            <div class="services-box wow animated fadeInUp" data-wow-delay="0.5s">
                <div class="services-box-icon">
                    <i class="fa fa-twitter"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>Python i Django</h4>
                    <p>
                        Treballam amb Python i Django per posar un negoci online complint plaços i objectius.
                    </p>
                </div>
            </div><!--services box-->
        </div><!--services col-->
    </div><!--services row-->
</div><!--.container-->

<div class="divide60"></div>
<section id="services-bg-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-sm">
                <img src="{% static 'img/mockup-ipad.png' %}" class="img-responsive" alt="mockup">
            </div>
            <div class="col-md-8 col-xs-12 service-3-meta">
                <h1><span class="colored-text">Les nostres web son:</span></h1>
                <div class="services-box margin30">
                    <div class="services-box-icon">
                        <i class="fa fa-tablet"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>100% Responsive</h4>
                        <p>
                            Permet adaptar i escalar el disseny de la teva web a les característiques de i especificaciones d'smartphones i tablets
                        </p>
                    </div>
                </div><!--service box-->
                 <div class="services-box margin30">
                    <div class="services-box-icon">
                        <i class="fa fa-code"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Accessibilitat i estandàrds</h4>
                        <p>
                            Desenvolupam webs d'alta qualitat, accessibles per tots els navegadors i per tots els nivells d'ususari.
                            Programam les webs d'acord amb els estàndards (W3C) claus en la bona indexació dels cercadors
                        </p>
                    </div>
                    <div class="divide30"></div>
                    <p><a href=" {% url 'contact' %}#contactTag " class="btn btn-theme-dark btn-lg">Demana presupost</a></p>
                </div><!--service box-->
               
            </div>
        </div>
    </div> 
</section><!--services with the showcase mockups-->

{% endblock %}
