{% extends "template.html" %}
{% load staticfiles %}

{% block content %}
<div class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Services</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Services</li>
                </ol>
            </div>
        </div>
    </div>
</div><!--breadcrumbs-->
<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 margin20">
            <h3 class="heading">Better Services Provide by us</h3>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni. Dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
            </p>
            <p><a href="#" class="btn btn-theme-bg">Hire us</a></p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'img/showcase-1.jpg' %}" class="img-responsive" alt="">
        </div>
    </div><!--about intro-->
</div>
<div class="divide60"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">Our Services</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 margin20">
            <div class="services-box wow animated fadeInUp" data-wow-delay="0.1s">
                <div class="services-box-icon">
                    <i class="fa fa-pencil"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>Web &AMP; Graphics Design</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                    </p>
                </div>
            </div><!--services box-->
        </div><!--services col-->
        <div class="col-md-4 margin20">
            <div class="services-box wow animated fadeInUp" data-wow-delay="0.2s">
                <div class="services-box-icon">
                    <i class="fa fa-globe"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>Web Development</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                    </p>
                </div>
            </div><!--services box-->
        </div><!--services col-->
        <div class="col-md-4 margin20">
            <div class="services-box wow animated fadeInUp" data-wow-delay="0.3s">
                <div class="services-box-icon">
                    <i class="fa fa-users"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>Customer Support</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                    </p>
                </div>
            </div><!--services box-->
        </div><!--services col-->
    </div><!--services row-->
    <div class="divide30"></div>
    <div class="row">
        <div class="col-md-4 margin20">
            <div class="services-box wow animated fadeInUp" data-wow-delay="0.4s">
                <div class="services-box-icon">
                    <i class="fa fa-crop"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>Pixel perfect design</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                    </p>
                </div>
            </div><!--services box-->
        </div><!--services col-->
        <div class="col-md-4 margin20">
            <div class="services-box wow animated fadeInUp" data-wow-delay="0.5s">
                <div class="services-box-icon">
                    <i class="fa fa-twitter"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>Bootstrap 3.3.2</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                    </p>
                </div>
            </div><!--services box-->
        </div><!--services col-->
        <div class="col-md-4 margin20">
            <div class="services-box wow animated fadeInUp" data-wow-delay="0.6s">
                <div class="services-box-icon">
                    <i class="fa fa-flag"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>Font Awesome icons</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.

                    </p>

                </div>
            </div><!--services box-->
        </div><!--services col-->
    </div><!--services row-->
</div><!--.container-->
<div class="divide60"></div>
<section id="services-bg-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-sm">
                <img src="{% static 'img/mockup-ipad.png' %}" class="img-responsive" alt="mockup">
            </div>
            <div class="col-md-8 col-xs-12 service-3-meta">
                <h1>Core features of <span class="colored-text">assan</span></h1>
                <div class="services-box margin30">
                    <div class="services-box-icon">
                        <i class="fa fa-tablet"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Fully Responsive</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                        </p>
                    </div>
                </div><!--service box-->
                 <div class="services-box margin30">
                    <div class="services-box-icon">
                        <i class="fa fa-twitter"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Bootstrap 3.3.2</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                        </p>
                    </div>
                </div><!--service box-->
               
                 <div class="services-box margin30">
                    <div class="services-box-icon">
                        <i class="fa fa-code"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>45+ valid HTML5 Pages and much more...</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                        </p>
                    </div>
                    <div class="divide30"></div>
                    <p><a href="#" class="btn btn-theme-dark btn-lg">Purchase Now</a></p>
                </div><!--service box-->
            </div>
        </div>
    </div> 
</section><!--services with the showcase mockups-->

{% endblock %}
